/* Created by Asa Masterson */

@font-face {
    /* OPEN FONT LICENSE V1.1 - pigsare.pink/assets/RubiksBubbles-OFL.txt */
    font-family: 'Rubik Bubbles'; 
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/assets/RubikBubbles-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFBDFB;
    font-family: 'Rubik Bubbles';
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #FFBDFB;
}

body::-webkit-scrollbar-thumb {
background-color: #ff54ff ;
border-radius: 6px;
border: 3px solid black;
}

/* Add a fancy text highlight */
::selection {
    background-color: #FFBDFB;
    color: #ffffff;
}

::-moz-selection {
    background-color: #FFBDFB;
    color: #ffffff;
}

#TopBar {
    background: #FFFFFF;
    border-bottom: 3px solid #000000;
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

#Oink {
    margin-left: 5px;
    height: 64px;
    width: 64px;
    margin-top: -2px;
}

#Title {
    margin-left: 5px;
    top: -16px;
    position: relative;
}

.BubblyText {
    font-size: 54px;
    line-height: 76px;
    color: #FFBDFB;
    -webkit-text-stroke: 2px #000000;
}

#Follow {
    font-size: 36px;
    line-height: 57px;
    color: #000000;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.RightImg {
    height: 36px;
    width: 36px; /* 42px */
    margin-top: 15px;
    margin-right: 10px;
    float: right;
}

#linkedin {
    width : 42px;
}

.container {
    margin:25px 0;
    text-align: center;
}

#AboutMe {
    margin: 0 auto 25px auto;
    display: inline-block;
}

.AMimg {
    border: 2px solid #000000;
    padding: 1px;
    background-color: #000000;
    height: 35vw;
    width: 19vw;
    box-sizing: border-box;
    border-radius: 25px;
}

.Left {
    float: left;
}

.t1 {
    margin-left: 25px;
}

table {
    height: 35vw;
    width: 70vw;
    background-color: white;
    border: 3px solid #000000;
    display: block;
    overflow-y: hidden;
    box-sizing: border-box;
    border-radius: 25px;

    text-align: left;
    font-size: 2.8vw;
    line-height: 4vw;
    color: #FFBDFB;
    -webkit-text-stroke: 2px #000000;
}
td {
    padding: 1vw;
}

caption {
    text-align: center;
    padding-top: 20px;
}


.th {
    color: #ff54ff;
}

.t2 {
    margin-right: 25px;
    padding-left: 10px;
    padding-top: 10px;
}

.t3 {
    margin-left: 25px;
    padding-left: 10px;
    padding-top: 10px;
    height: 40vw;
}

#MoreAboutMe {
    margin: 0 auto;
    display: inline-block;    
}

#WorkExp {
   margin: 25px auto 0 auto;
   display: inline-block;
}

#tallImg {
    height: 40vw;
    width: 19vw;
}

.WORKimg {
    height: 15vw;
    width: 15vw;
    filter: drop-shadow(1vw 1vw 6px rgba(0, 0, 0, 0.5));
    z-index: -1;
    margin: 2vw;
    margin-top: 0;
}

.purp {
    color: #ff54ff;
}

.lh {
    line-height: 3vw;
}

.coolHREF {
    color: #FFBDFB;
    text-decoration: none;
    font-size: 2.8vw!important;
    -webkit-text-stroke: 2px #0000FF;
}

#footer {
    background: #FFFFFF;
    border-top: 3px solid #000000;
    box-sizing: border-box;
    width: 100%;
}

.Socials {
    float: left;
    text-align: center;
    width: 33.3%;
    height: 60px;
    box-sizing: border-box;
    border: #000000 solid;
    border-width: 0 3px 3px 0;

    line-height: 57px;
    color: #000000;
}

.Socials:hover {
    background-color: #FFBDFB;
    color: #FFFFFF;
}

#twitter {
    border-right: 0!important;
    width: 33.4%!important;
}

.clear {
    clear: both;
}

.funfact {
    float: left;
    text-align: left;
    width: 33.3%;
    padding: 15px 15px 0 15px;
    box-sizing: border-box;

    line-height: 25px;
    color: #000000;
}

.right {
    text-align: right!important;
    float: right!important;
}

.Policys {
    float: left;
    text-align: center;
    width: 33.3%;
    padding: 15px 0;
    box-sizing: border-box;

    line-height: 25px;
    color: #000000;
}

#gradient {
    padding-top: 15px;
    clear: both;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFBDFB 100%);
    background-size: 200% 100%;
}

/* Mobile only styling */

#mobilecopyright {
    display: none;
    width: 100%;
    clear: both;
}

#Mcontainer {
    font-size: 36px;
    line-height: 32px;
    color: #FFBDFB;
    -webkit-text-stroke: 2px #000000;
    overflow: hidden;
    display: none;
}

.Mtitle {
    float: left;
    padding: 5vw;
    color: #ff54ff;
    background-color: #FFFFFF;
    text-align: center;
    width: 80vw;
    border: #000000 solid;
    border-width: 3px 3px 3px 0;
    border-radius: 0 25px 25px 0;
    margin-top: 30px;
}

.MrightBox {
    float: right;
    padding: 5vw;
    background-color: #FFFFFF;
    width: 80vw;
    border: #000000 solid;
    border-width: 3px 0 3px 3px;
    border-radius: 25px 0 0 25px;
}

.Mcontent {
    margin: 0;
}

.Mimg {
    height: 60vw;
    width: 90vw;
    margin: 30px 0;
    padding: 1px 1px 1px 0; /* removes small gap between image and border */
    background-color: #000000;
    border: #000000 solid;
    border-radius: 0 25px 25px 0;
    border-width: 2px 2px 2px 0;
    object-fit: cover;
}

#Mimg2 {
    object-position: 100% 0;
}

.Mbtm {
    margin-bottom: 30px;
}

.MWORKimg {
    height: 50vw;
    width: 50vw;
    filter: drop-shadow(1vw 1vw 6px rgba(0, 0, 0, 0.5));
    z-index: -1;
    margin: 15vw;
}

.Mbreak {
    display: block;
    margin-bottom: 8px;
}

/* Me trying my hardest to make it dynamic */

@media (max-width: 850px) {
    #Follow {
      display: none;
    }
  }
@media (max-width: 650px) { /* This is what im calling mobile, sorry people with a tiny laptop screen */
    .RightImg {
        display: none;
    }
    #copyright {
        display: none;
    }
    #vc {
        float: right;
    }
    .Policys {
        width: 50%;
    }
    #mobilecopyright {
        display: block;
    }
    .funfact {
        width: 50%;
    }
    .container {
        display: none;
    }
    #Mcontainer {
        display: block;
    }
    #Oink {
        height: 42px;
        width: 42px;
    }
    #Title {
        top: -10px;
        font-size: 36px;
        -webkit-text-stroke: 1px #000000;
    }
}
@media (max-width: 310px) { /* Ok this is for the nokia bricks if they still exist */
    #Title {
        font-size: 10vw;
    }
    #Oink {
        height: 15vw;
        width: 15vw;
    }
  }